@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  font-family: 'Poppins', sans-serif;;
}

.banner{
  background: url('../img/nicolas-thomas-wKlqqfNTLsI-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.perfil-main{
  height: 75vh;
  border-radius: 10rem 0.5rem;
  border: white solid 0.2rem;
}

.nome-main{
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  }

.banner-main{
  margin-top: 2.5rem;
}

.barrinha{
  background-color: rgb(77, 77, 77);
}

.titulos{
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-style: italic;
}

.back-two{
    background-color: rgb(189, 189, 189);
    color: rgb(255, 255, 255);
    border-radius: 2rem 0px 0px 2rem;
}

.the-end{
    min-height: 20vh;
}

@media (min-width: 400px) and (max-width: 576px){ 
  .banner{
      background-position: right;
      height: 70vh;
  }
  .nome-main{
      font-size: 300%;
  }
  .perfil-main{
      height: 70%;
  }
}

@media (min-width: 577px) and (max-width: 1200px){ 
  .banner{
      background-position: right;
      height:  70vh;
  }
  .nome-main{
      font-size: 500%;
  }
  .perfil-main{
      height: 100%;
  }
}

@media (max-width: 1399.98px) { } 